/* 添加用户的框框 */
.content > .box > li.users > .addUser,
.content > .box > li.users > .editUser
{
    visibility: hidden;
    width: 400px;
    height: 450px;
    background-color: pink;
    border: 2px solid skyblue;
    border-radius: 20px;
    margin-left: 350px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* align-items:center;
    align-content:space-between;
    flex-flow: row wrap; */
    padding: 20px;
}
.content > .box > li.users > .addUser > label,
.content > .box > li.users > .editUser > label{
    margin: 10px;
}
.content > .box > li.users > .addUser > .show,
.content > .box > li.users > .editUser > .show{
    width: 60px;
    height: 60px;
    border: 1px solid #333;
}
.content > .box > li.users > .addUser > .show > div,
.content > .box > li.users > .editUser > .show > div{
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
/* 小叉号 */
.content > .box > li.users > .addUser >  span,
.content > .box > li.users > .editUser > span{
    height: 20px;
    width: 20px;
    position: absolute;
    color: red;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.content > .box > li.users > .addUser > .show >input,
.content > .box > li.users > .editUser > .show >input{
    display: none;
}
